{% extends 'base.html' %}

{% block container %}
    <div style="margin-top: 15px;"></div>
    <div class="row">
        <div class="col-12 col-md-4">
            <p>Waiting for accept</p>
            <ul>
                {% for req in waiting_for_accept %}
                    <li>{{ req.sender.username }} | <a href="{% url 'friends:accept' id=req.id %}">Accept</a>, <a href="{% url 'friends:delete' id=req.id %}">Decline</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <p>Sent</p>
            <ul>
                {% for req in sent %}
                    <li>{{ req.receiver.username }} | <a href="{% url 'friends:delete' id=req.id %}">Cancel</a></li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-12 col-md-4">
            <p>Friends</p>
            <ul>
                {% for req in friends %}
                    {% if request.user.id == req.sender.id %}
                        <li>{{ req.receiver.username }} | <a href="{% url 'friends:delete' id=req.id %}">Delete</a></li>    
                    {% else %}
                        <li>{{ req.sender.username }} | <a href="{% url 'friends:delete' id=req.id %}">Delete</a></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}